<!-- Footer -->
<footer>
    <div class="wrap-footer">
        <div class="zerogrid">
            <div class="row">
                <h3>Contactanos</h3>
                <span>Teléfono / +34 642 42 51 35 </span></br>
                <span>Email / info@gconcesionario.com  </span></br>
                <span>Encuentranos / Avenida Cristóbal Colón Nº15 / Ontinyent </span></br>
                <span>Copyright 2022 - Designed by <a href="https://www.zerotheme.com">ZEROTHEME</a></span>
            </div>
        </div>
    </div>
</footer>