<div class="container_contact">
    <div class="rrow input-container">
        <div class="col-md-6-5 -5col-sm-12">
            <div class="styled-input" style="float:right;">
                <input id="emailInput" class="input" type="text" placeholder="Email" required />
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="styled-input">
                <input id="nameInput" class="input" placeholder="Nombre" type="text" required />
            </div>
        </div>
        <div class="col-md-6-5 -5col-sm-12">
            <div class="styled-input" style="float:left;">
                <input id="themeInput" class="input" type="text" placeholder="Tema" required />
            </div>
        </div>
        <div class="col-wxs-12">
            <div class="styled-input wide">
                <textarea id="textInput" class="textarea" placeholder="Mensaje" required></textarea>
            </div>
        </div>
        <div class="col-wxs-12">
            <div style="color: white;" class="btn-lrg submit-btn">Send Message</div>
        </div>
    </div>
</div>